*.class

# Package Files #
*.jar
*.war
*.ear

.project
.classpath
.settings

*/.project
*/.classpath

data-mining/target
disruptor/target
hadoop/target
hbase/target
mahout/target
mina/target
netty/target
solr-manager/target
solr-web/target
dubbo/target

