<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca-j/spring/200810" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/sca http://www.osoa.org/xmlns/sca/1.0/spring-sca.xsd">

    <sca:service name="solrSearchService" target="solrSearchServiceBean"/>
    <bean id="solrSearchServiceBean" class="org.shirdrn.tuscany.service.impl.SolrSearchServiceImpl" />

</beans>